/org.jboss.ide.eclipse.as.32
/org.jboss.ide.eclipse.as.40
/org.jboss.ide.eclipse.as.42
/org.jboss.ide.eclipse.as.50
/org.jboss.ide.eclipse.as.51
/org.jboss.ide.eclipse.as.60
/org.jboss.ide.eclipse.as.70
/org.jboss.ide.eclipse.as.71
/org.jboss.ide.eclipse.as.eap.43
/org.jboss.ide.eclipse.as.eap.50
/org.jboss.ide.eclipse.as.eap.60
/org.jboss.ide.eclipse.as.eap.61
/org.jboss.ide.eclipse.as.wildfly.80
